* {
    font-family: helvetica, arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

h1,
h2 {
    color: grey;
    text-align: center;
}

h2 {
    padding-top: 20px;
    border-top: 1px solid grey;
}

ul,
li,
a {
    padding: 0;
    
    color: black;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px 1px 0 white;
    line-height: 2;
    
    list-style: none;
}

article div {
    border-radius: 5px;

    box-shadow: 0 0 20px rgb(0, 0, 0, .75);
}

/* PARTIE 1 : NO POSITION 
----------------------------------------------------------------------*/
article:first-child section div {
    padding: 50px;
}

article:first-child section > div {
    margin: auto;
    width: 500px;
    height: 200px;

    background-color: darkslategray;
}

article:first-child section > div > div {
    background-color: cadetblue;
}

article:first-child section > div > div div {
    background-color: lightblue;
}

/* PARTIE 2 : RELATIVE
----------------------------------------------------------------------*/
article:nth-child(2) section > div {
    margin: auto;
    width: 600px;
    height: 300px;

    background-color: darkslategray;
}

article:nth-child(2) section > div > div {
    position: relative;
    top: 50px;
    left: 175px;
    width: 500px;
    height: 200px;

    background-color: rgba(95, 158, 160, .5);
}

article:nth-child(2) section > div > div div {
    position: relative;
    top: 50px;
    left: -350px;
    width: 450px;
    height: 100px;

    background-color: lightblue;
}

/* PARTIE 3 : ABSOLUE
----------------------------------------------------------------------*/
article:nth-child(3) section {
    height: 325px;
}

article:nth-child(3) section > div {
    position: relative;
    margin: auto;
    width: 600px;
    height: 200px;

    background-color: darkslategray;
}

article:nth-child(3) section > div > div {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 500px;
    height: 100px;

    background-color: cadetblue;
}

article:nth-child(3) section > div > div div {
    position: absolute;
    top: 170px;
    left: 150px;
    width: 100px;
    height: 100px;

    background-color: lightblue;
}

/* PARTIE 4 : ABSOLUTE
----------------------------------------------------------------------*/
article:nth-child(4) section {
    height: 530px;
}

article:nth-child(4) section > div {
    position: relative;
    margin: auto;
    width: 600px;
    height: 100px;

    background-color: darkslategray;
}

article:nth-child(4) section > div > div {
    position: absolute;
    top: 200px;
    left: 150px;
    width: 200px;
    height: 200px;

    background-color: cadetblue;
}

article:nth-child(4) section > div > div > div {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;

    background-color: lightblue;
}

article:nth-child(4) section > div > div > div div {
    position: absolute;
    top: 175px;
    left: 175px;
    width: 100px;
    height: 100px;

    background-color: cornflowerblue;
}

/* PARTIE 5 : LA FENETRE
----------------------------------------------------------------------*/
article:nth-child(5) section * {
    box-sizing: border-box;
}

article:nth-child(5) section {
    height: 505px;
}

article:nth-child(5) section > div {
    margin: auto;
    padding: 30px;
    position: relative;
    width: 500px;
    height: 500px;

    background-color: darkslategray;
}

article:nth-child(5) section > div div {
    position: absolute;
    width: 200px;
    height: 200px;
}

article:nth-child(5) section > div div:first-child {
    background-color: cadetblue;
}

article:nth-child(5) section > div div:nth-child(2) {
    left: 267px;

    background-color: lightblue;
}

article:nth-child(5) section > div div:nth-child(3) {
    top: 267px;

    background-color: cornflowerblue;
}

article:nth-child(5) section > div div:last-child {
    top: 267px;
    left: 267px;

    background-color: aliceblue;
}

/* PARTIE 6 : AU CHOIX
----------------------------------------------------------------------*/
article:nth-child(6) section * {
    box-sizing: border-box;
}

article:nth-child(6) section {
    height: 505px;
}

article:nth-child(6) section > div {
    margin: auto;
    padding: 30px;
    position: relative;
    width: 500px;
    height: 500px;

    background-color: cadetblue;
}

article:nth-child(6) section > div div {
    position: absolute;
    width: 200px;
    height: 200px;
}

article:nth-child(6) section > div div:first-child {
    background-color: forestgreen;
}

article:nth-child(6) section > div div:nth-child(2) {
    top: 65px;
    left: 65px;

    background-color: dodgerblue;
    
    opacity: .5;
    z-index: 2;
}

article:nth-child(6) section > div div:nth-child(3) {
    top: 230px;
    left: 230px;

    background-color: chocolate;
    
    z-index: 1;
}

article:nth-child(6) section > div div:last-child {
    top: 267px;
    left: 267px;

    background-color: yellow;
}

/* PARTIE 7 : FLOAT
----------------------------------------------------------------------*/
article:nth-child(7) section * {
    box-sizing: border-box;
}

article:nth-child(7) section {
    height: 515px;
}

article:nth-child(7) section > div {
    margin: auto;
    padding: 30px;
    width: 600px;
    height: 510px;
}

article:nth-child(7) section > div div {
    width: 150px;
    height: 150px;
    
    color: black;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    line-height: 12;
}

article:nth-child(7) section > div div:first-child {
    float: left;
    
    background-color: blueviolet;
}

article:nth-child(7) section > div div:nth-child(2) {
    float: left;
    
    background-color: indigo;
}

article:nth-child(7) section > div div:nth-child(3) {
    clear: both;
    width: 100%;
    
    background-color: navajowhite;
}

article:nth-child(7) section > div div:nth-child(4) {
    float: right;
    
    background-color: olivedrab;
}

article:nth-child(7) section > div div:last-child {
    float: right;
    
    background-color: greenyellow;
}

/* PARTIE 8 : STIKY MENU
----------------------------------------------------------------------*/
article:last-child {
    margin: auto;
    width: 900px;
}

article:last-child section nav {
    padding: 5px 20px;
    float: left;
    position: sticky;
    top: 10px;
    width: 15%;
    
    border-radius: 3px;
    
    background-image: linear-gradient(45deg, lightblue 90%, transparent 90%);
    box-shadow:
        -10px 10px 10px rgba(0, 0, 0, .3),
        0 0 10px 10px inset rgba(255, 255, 255, .2);
    
    overflow: hidden;
}

article:last-child section nav::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
    
    border-bottom-left-radius: 3px;
    
    background-image: linear-gradient(45deg, lightblue 50%, transparent 50%);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
}

article:last-child section nav::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    
    border: solid white;
    border-width: 0 0 1px 1px;
    border-radius: 100%;
    
    background-color: white;
    box-shadow: -5px 5px 10px inset rgba(0, 0, 0, .3);
}

article:last-child section p {
    margin: 0 0 0 20px;
    display: inline-block;
    position: relative;
    width: 75%;
    
    text-align: justify;
    line-height: 1.25;
}

/* FOOTER (Signature & Informations)
----------------------------------------------------------------------*/
footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;

    background-color: cadetblue;
    
    color: white;
    font: normal 14px helvetica;
}