div {
  text-align: left;
}

.col {
  height: 100%;
}

article, img, a, .hamburger {
  border-radius: 5px;
}

article {
  padding: 5px 20px;

  background-color: cadetblue;
}

p {
  color: white;
  font-size: 1.2em;
  text-align: justify;
}

article img {
  float: left;
  width: 100px;
}