* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: helvetica, sans-serif;
  font-weight: normal;

  list-style: none;
}

/* ------------------------------ MOBILE FIRST ------------------------------ */

body {
  margin: 15px;
}

/* HEADER (MOBILE) -------------------------------------------------- */
header {
  width: 100%;
  height: 175px;

  border-bottom: 2px solid cadetblue;
}

header > ul {
  margin-bottom: 10px;
}

header > div div {
  float: left;
  width: 130px;
}

header > div div img {
  float: left;
  width: 70px;
  height: 70px;
}

header > div div p {
  float: right;

  font-size: 30px;
}

header > div div p span {
  float: right;

  font-size: 14px;
}

header > div ul {
  float: right;

  font-size: 15px;
}

header > div ul li span {
  font-weight: bold;
}

/* MAIN (MOBILE) -------------------------------------------------- */
main {
  width: 100%;

  font-size: 15px;
}

main section {
  padding: 10px 0;
  width: 100%;

  border-bottom: 2px solid cadetblue;
}

main section > * {
  display: inline-block;
  width: 20%;
}

main section p:first-child {
  transform: translateY(-25px);
  margin-left: 5px;

  font-weight: bold;
}

main section p:last-child {
  transform: translateY(-25px);
}

main section p:last-child span {
  font-weight: bold;
}

main section img {
  margin-right: 10%;
  width: 60px;
  height: 60px;
}

main section ul {
  transform: translateY(-15px);
}

main section ul li span {
  position: absolute;
  transform: translateY(2px);

  font-size: 8px;
}

main section ul li:first-child {
  font-weight: bold;
}

main section ul li:first-child span {
  font-weight: bold;
}

/* FOOTER -------------------------------------------------- */
footer {
  margin-top: 15px;
  padding: 15px 0;
  width: 100%;

  background-color: cadetblue;
  
  color: white;
  font: bold 14px helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* ------------------------------ INTERMEDIAIRE ------------------------------ */

@media screen and (min-width: 400px) {
  /* HEADER (INTERMEDIAIRE) -------------------------------------------------- */
  header > div ul {
    margin-right: 25%;
  }
}

/* ------------------------------ MEDIUM ET + ------------------------------ */

@media screen and (min-width: 800px) {
  /* HEADER (MEDIUM ET +) -------------------------------------------------- */
  header > div ul {
    margin-right: 50%;
  }

  /* MAIN (MEDIUM ET +) -------------------------------------------------- */
  main section > * {
    display: block;
    width: 20%;
  }
}