* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: helvetica, sans-serif;
  font-weight: normal;

  list-style: none;
}

img {
  width: 100px;
  height: 100px;
}

header {

}

header > div div {
  width: 200px;

  background-color: cadetblue;
}

header > div div img {
  width: 30px;
  height: 30px;
  float: left;
}

header > div div p {
  float: right;
}

header > div ul {
  clear: both;
}

main {

}

footer {
  margin-top: 15px;
  padding: 15px 0;
  width: 100%;

  background-color: cadetblue;
  
  color: white;
  font: bold 14px helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}