* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: cadetblue;
  font-family: helvetica;
  font-weight: normal;
}

header {
  padding: 20px 0 50px 0;
  width: 100%;
}

h1 {
  text-align: center;
  letter-spacing: 2px;
}

h2 {
  text-align: center;
  line-height: 1.65;

  background-color: cadetblue;

  color: white;
}

main {
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  width: 90%;
}

main > div {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

article {
  margin: 10px;
  width: 500px;
  height: 500px;

  box-shadow: 0 0 200px inset rgba(0, 0, 0, .15);
}

article section {
  position: relative;
  width: 100%;
  height: 460px;
}

/* MENU REACTIF ---------------------------------------------------------------------- */
nav {
  margin-top: 10px;
  padding-top: 10px;
  width: 150px;
  height: 40px;

  border-radius: 0 0 5px 5px;

  background-color: cadetblue;

  color: white;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;

  cursor: pointer;
  transition: height .5s ease;
}

nav:hover {
  height: 500px;
}

/* CARRE TOURNANT ---------------------------------------------------------------------- */
#carre {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;

  border-radius: 20px;

  animation: carre 3s linear alternate infinite;
}

/* BALLE REBONDISSANTE ---------------------------------------------------------------------- */
#eprouvette {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 300px;

  border: solid cadetblue;
  border-width: 0 2px 2px 2px;
  border-radius: 0 0 25px 25px;

  background-image: linear-gradient(to top, lightblue, transparent);
}

#balle {
  position: relative;
  margin: auto;
  width: 40px;
  height: 40px;

  border-radius: 100%;

  background-color: white;
  box-shadow: 5px -5px 5px 0 inset rgba(50, 5, 0, .5),
  5px -5px 10px 10px inset darksalmon;

  animation: balle 3s ease-in infinite;
}

/* LOADER ---------------------------------------------------------------------- */
#container_points {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container_points * {
  display: inline-block;
  width: 50px;
  height: 50px;

  border-radius: 100%;

  animation: loader 2s ease infinite;
}

#point_load2 {
  animation-delay: .5s;
}

#point_load3 {
  animation-delay: 1s;
}

/* FAIRE LA QUEUE ---------------------------------------------------------------------- */
#container_objs {
  margin: 10px;
}

#container_objs * {
  position: absolute;
  width: 30px;
  height: 30px;

  border-radius: 5px;

  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 2.5;

  animation: laQueue 6s ease infinite;
}

#obj1,
#obj3,
#obj5 {
  background-color: coral;
}

#obj2,
#obj4,
#obj6 {
  background-color: cadetblue;
}

#obj1 {
  animation-delay: .6s;
}

#obj2 {
  animation-delay: 1.2s;
}

#obj3 {
  animation-delay: 1.8s;
}

#obj4 {
  animation-delay: 2.4s;
}

#obj5 {
  animation-delay: 3s;
}

#obj6 {
  animation-delay: 3.6s;
}

/* FOOTER (Signature + Infos) ---------------------------------------------------------------------- */
footer {
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 100%;

  background-color: cadetblue;

  color: white;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
}

/* ANIMATIONS ---------------------------------------------------------------------- */

/* ANIM: CARRE TOURNANT ---------------------------------------------------------------------- */
@keyframes carre {
  from {
    transform: translate(-50%, -50%) rotate(0);
    background-color: orange;
  } to {
    transform: translate(-50%, -50%) rotate(360deg);
    background-color: red;
  }
}

/* ANIM: BALLE REBONDISSANTE ---------------------------------------------------------------------- */
@keyframes balle {
  0% {
    opacity: 0;
    top: 0;
  } 5% {
    top: 0;
  } 8.5% {
    opacity: 1;
  } 10%, 33%, 34.2%, 34.6% {
    top: 255px;
    width: 40px;
    height: 40px;
  } 10.4% {
    top: 230px;
    width: 45px;
    height: 35px;
  } 12% {
    top: 100px;
    width: 30px;
    height: 45px;
  } 14% {
    top: 95px;
    width: 30px;
    height: 45px;
  } 17% {
    top: 255px;
    width: 30px;
    height: 45px;
  } 17.25% {
    top: 260px;
    width: 45px;
    height: 30px;
  } 19% {
    top: 150px;
    width: 35px;
    height: 43px;
  } 19.15% {
    top: 145px;
    width: 35px;
    height: 43px;
  } 22% {
    top: 255px;
    width: 35px;
    height: 43px;
  } 22.1% {
    top: 260px;
    width: 45px;
    height: 30px;
  } 24% {
    top: 190px;
    width: 37px;
    height: 42px;
  } 26% {
    top: 255px;
    width: 37px;
    height: 42px;
  } 28% {
    top: 200px;
    width: 39px;
    height: 41px;
  } 30% {
    top: 255px;
    width: 39px;
    height: 41px;
  } 32% {
    top: 240px;
    width: 40px;
    height: 40px;
  } 33.7% {
    top: 245px;
    width: 40px;
    height: 40px;
  } 34.5% {
    top: 250px;
    width: 40px;
    height: 40px;
  } 50% {
    top: 255px;
    opacity: 1;
  } 90%, 100% {
    top: 255px;
    opacity: 0;
  }
}

/* ANIM: LOADER ---------------------------------------------------------------------- */
@keyframes loader {
  from {
    background-color: dodgerblue;
    box-shadow: 0 0 0 0 inset white;
  } to {
    box-shadow: 0 0 50px 0 inset white;
    background-color: white;
  }
}

/* ANIM: FAIRE LA QUEUE ---------------------------------------------------------------------- */
@keyframes laQueue {
  0%, 100% {
    top: 0;
    left: 0;
  } 25% {
    top: 410px;
    left: 0;
  } 50% {
    top: 410px;
    left: 450px;
  } 75% {
    top: 0;
    left: 450px;
  }
}