#sectionArme {
  display: none;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

#visuelArme {
  background-size: 400px;

  animation: ouverture 1.5s ease forwards, teteBaisee 1.5s ease-out forwards, plusPres 3s 2s ease forwards, wiggles 2.5s 1.5s ease infinite;
}

@keyframes teteBaisee {
  from {
    transform: translate(0, 70%);
  } to {
    transform: translate(0, 0);
  }
}

@keyframes plusPres {
  to {
    background-size: 600px;
  }
}