#sectionLieu {
  display: none;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

#visuelLieu {
  width: 100%;
  height: 100%;

  background-image: url(../imgs/lieux/hotel.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  animation: respiration 5s ease infinite, ouverture 3s ease forwards;
}