#sectionResultat {
  display: none;
  width: 100%;
  height: 100%;

  overflow: hidden;
  animation: light 4s ease forwards;
}

#visuelResultat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;

  animation: afficheResult 5s ease forwards;
}

#visuelResultat p, #visuelResultat h2 {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

#visuelResultat p:nth-child(2) {
  font-size: 100px;
}

@keyframes light {
  from {
    background-color: whitesmoke;
  } to {
    background-color: black;
  }
}

@keyframes afficheResult {
  from {
    transform: translate(-50%, -50%) scale(2);
    filter: blur(5px);
  } to {
    transform: translate(-50%, -50%) scale(1);
    filter: blur(0);
  }
}